@model WeatherViewModel
@{ 
	var vm = Model;
}

<div class="form-group">
	<select asp-for="@vm.TemperatureUnit.Id" asp-items="Model.TemperatureUnits" class="form-control"></select>
	<select asp-for="@vm.WindSpeedUnit.Id" asp-items="Model.WindSpeedUnits" class="form-control"></select>
</div>