@model WeatherViewModel
@{ 
	var vm = Model;
}

<div class="form-group">
	<select asp-for="@vm.TemperatureUnit.Code" asp-items="Model.UnitOfMeasureViewModel.TemperatureUnits" class="form-control"></select>
	<select asp-for="@vm.WindSpeedUnit.Code" asp-items="Model.UnitOfMeasureViewModel.WindSpeedUnits" class="form-control"></select>
</div>